* {
    box-sizing: border-box;
    max-width: 100%;
}

/* general */
html {
    font-size: 62.5%;
}

body {
    color: black;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 5rem;
}

section {
    width: 90%;
    margin: 0 auto;
}

/* header navigation bar */
.button {
    text-align: center;
    margin: 2% 0;
}

.button a {
    display: inline-block;
    padding: 2%;
    margin: 5vw;
    text-decoration: none;
    border-radius: 10px;
    color: white;
}

.plan {
    background: #FF764E;
}

.learn {
    background: #5ED3EB;
}

.getInvolved {
    background: #FFCD69;
}

/* image and title  section*/
.invitation {
    border: 1px solid blue;
    display: flex;
}

.invitation .image {
    border: 1px solid green;
    display: inline;
    width: 25%;
}

.invitation .text {
    border: 1px solid red;
    display: inline;
    width: 75%;
    padding: 1%;
    text-align: center;

}

.invitation .image img {
    width: 100%;
    border-radius: 999px;
}

.invitation h2 {
    width: 100%;
    margin: auto;
    padding: 3% 0;
}

.invitation p {
    width: 100%;
    margin: auto;
    padding: 0% 10%;
}


/* geography and history section */
.geography-history {
background: #DDB9A3;
padding: .5% 4%;
margin: 2% auto 0 auto;
}

.geography-history .text p {
    color: white;
    margin: 3% 0;
    text-align: center;
}

/* important visitor information section */
.information img {
    margin: 0 auto 0 auto;
    width: 20%;
    display: block;
}

.information .camper {
    margin: 3%;
}

.information p {
    text-align: center;
    width: 30%;
    margin: 0 auto 0 auto;
    font-size: .8rem;
}

.information span {
    font-weight: bold;
}

/* panorana photo section */

/* footer */

